body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url(Pagina_Inicial/img/ss.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}
.name_site{
    display: flex;
    font-size: 28px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}
.name_site a{
    text-decoration: none;
    color: yellow;
}
.nav_central ul{
    display: flex;
    gap: 30px;
    list-style: none;
        margin-right: 18px;
        font-size: 22px;
            font-family: 'Times New Roman', Times, serif;
                
                
}
.nav_central a{
    text-decoration: none;
         color: white;
}
.nav_central a:hover{
    transform: scale(1.1);
        color: yellow;
            border-bottom: 1px solid yellow;
                padding-bottom: 5px;
                    transform: scale(1.1);
                        transition: 0.3s;
}
.nav_direita ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.nav_direita a{
    text-decoration: none;
         color: white;
}
.nav_direita a:hover{
    transform: scale(1.1);
        color: yellow;
            border-bottom: 1px solid yellow;
                padding-bottom: 5px;
                    transform: scale(1.1);
                        transition: 0.3s;
}
.principal{
    margin: 20px;
    margin-top: 100px
    
    
   
}
.container{
    background-color: transparent;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
}
.item_musica{
    background-color: transparent;
    border: 2px solid rgb(173, 173, 173);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6); 
    position: relative;
    width: 350px;
    height: 400px;
    margin-left: 0;
    border-radius: 20px;
    margin: 10px 50px;
    cursor: pointer;
    
}
.container img{
    justify-content: center;
    width: 310px;
    height: 250px;
    margin: 10px 20px;
    border-radius: 20px;
    
}
.audio{
    justify-content: center;
}