body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url(img/ss.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
.name_site{
    display: flex;
    font-size: 20px;
    margin: 10px;
}
.nav_central ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav_direita ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 10px;
}
.principal{
    margin: 20px;
    margin-top: 100px
    
    
   
}
.container{
    background-color: transparent;
    width: 100%;
    height: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  
}
.item_musica{
    background-color: transparent;
    border: 2px solid rgb(173, 173, 173);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6); 
    height: 400px;
    margin-left: 0;
    border-radius: 20px;
    margin: 10px 50px;
    cursor: pointer;
    
}
.container img{
    width: 300px;
    height: 300px;
    margin: 10px 20px;
    border-radius: 10px;
    
}