
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url(img_cadastrar/ss.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.caixa_cadastro{
    width: 400px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    padding: 80px 50px;

    
}
.caixa_cadastro h1{
    font-size: 40px;
    text-align: center;
    color: white;
}
.input_inform{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 40px 0;
}
.input_inform input{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;

}
.input_inform input::placeholder{
    color: white;
}
button{
    width: 100%;
    height: 100%;
    margin-top: 10px ;
    padding: 15px ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
