body{
    
    margin: 0;
    padding: 0;
    background-image: url(img/estudio.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur();
    
}
#head1{
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    background-image: url(img/estudio.jpg);
    background-position: center;
    background-attachment: fixed;
    border-radius: 15px;
    margin: 20px;
}
#head1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#nomeSite{
    position: absolute;
    left: 3%;
}
#nav1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}
#nav1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#nav2{
    position: absolute;
    left: 95%;
    transform: translateX(-88%);
    display: flex;
    gap: 30px;
}
#nav2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}