@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/ss.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 400px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.container h1{
    font-size: 40px;
    text-align: center;
}
.input_box{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 20px;
    margin: 40px 0;
}
.input_box input{
    width: 100%;
    height: 100%;   
    background-color: transparent;
    border-radius: 40px;
    border: 2px solid white;
    outline: none   ;
    font-size: 14   px;
    color: white;
    padding: 10px    ;

}
.input_box input::placeholder{
    color: rgb(194, 194, 194);
}
.input_box i{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 20px;

}
.remember{
    display: flex;
    justify-content: space-between;
   padding: 20px;

}
.remember a{
    text-decoration: none;
    color: white;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, .6);    
}
.register{
    text-align: center;
    font-size: 13px;
    padding: 30px;
    
}
.register a {
    text-decoration: none;
    color: white;
}